body {
    font-family: 'Nunito', sans-serif;
    background: #e4cdcc;
}

.text-section h2 {
    font-weight: 200;
    font-size: 2rem;
    color: #d44f5a;
}

.text-section p {
    font-weight: 300;
    font-size: 1.125rem;
    color: #d66a73;
    line-height: 2;
}

#mainNavbar {
    font-weight: 300;
    font-size: 1.3rem;
}

#mainNavbar .nav-link {
    color: white;
    text-shadow: 1px 1px 2px #505050;
}

.navbar-toggler {
    background-color: #d44f5a;
  } 

#mainNavbar .nav-link:hover {
    color: #d44f5a;
    text-shadow: none;
}

#mainNavbar .navbar-brand {
    font-size: 1.8rem;
    color: #d44f5a;
}

#headingGroup span:first-child {
    color: rgb(89, 190, 119);
}

#headingGroup span:last-child {
    color: #d44f5a;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 2.3rem;
}

.italy-icon {
    width: 90px; object-fit: cover;
    margin: 1rem;
}

.content {
    margin-top: 80px;
    margin-bottom: 80px;
}

.navbar.scrolled {
    background: #dbc1c3;
    transition: background 1s;
}


@media (min-width:992px) {
    #mainNavbar .nav-link {
        text-shadow: none;
    }
    .text-section h2 {
        font-size: 2.5rem;
    }
}

@media (min-width:1200px) {
    #headingGroup h1 {
        font-size: 3rem;
    }
    .italy-icon {
        width: 120px; object-fit: cover;
    }
}

